*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: rgb(10, 6, 130);
  --secondary-color: rgb(226, 226, 226);
  --accent-color: rgb(186, 0, 180);
}

body{
  background-color: var(--primary-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer{
  display: flex;
  justify-content: center;
}

#inventory-container{
  background: var(--secondary-color);
  margin: 5%;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.item{
  background: var(--accent-color);
  width: 100px;
  height: 100px;
}

.item img{
  width: 100%;
  filter: drop-shadow(2px 4px 3px black);
}

.item img:hover{
  transform: scale(1.25);
}

#scene-1{
  height: 90%;
  margin: 32px;
  background-color: white;
}

  #scene-1 div:first-child{
    height: 40%;
  }

  #scene-1 div:nth-child(2){
    height: 50%;
  }

  #scene-1 div:nth-child(3){
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
